.light-color{
    color: #fff;
}
.dark-color{
    color: #3A3A3A;
}
.green-color{
    color: #1DD1A1;
}
.purple-color{
    color: #1A034B;
}
.top-banner{
    background: linear-gradient(107.47deg, #631CD7 0.19%, #3D1582 52.71%, #1A034B 102.06%, #1A034B 102.06%);
    font-family: "Open Sans";
}
.top-banner .button{
    background-color: #1DD1A1;
    border: none;
    padding: 15px 50px;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
.title{
    font-weight: 700;
    font-size: 55px;
}
.subtitle{
    font-weight: 300;
    font-size: 28px;
}
