<div class="footer contain-footer text-center">
    <img src="assets/images/logo-big.png" class="footer-img" width="200" alt="logo-big"/>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-4">

                <h4 class="title">Blockchain</h4>
                <ul class="link">
                    <li><a href="#">Blockchain Techology</a></li>
                    <li><a href="#">DeFi (Decentralised Finance)</a></li>
                    <li><a href="#">Future of the Blockchain</a></li>
                    <li><a href="#">NFT</a></li>
                </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-4">
                <h4 class="title">Company</h4>
                <ul class="link">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Vision</a></li>
                </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-4">
                <h4 class="title">Resources</h4>
                <ul class="link">
                    <li><a href="#"><i class="bi bi-link"></i> Blockchain Global</a></li>
                    <li><a href="#"><i class="bi bi-link"></i> Bitcoin</a></li>
                    <li><a href="#"><i class="bi bi-link"></i> ERC 2.0</a></li>
                </ul>
        </div>
    </div>
    <div class="row mt-5">
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-9 contact-info text-left">
                <i class="bi bi-geo-alt" style="font-size: 18px"></i><span style="font-size: 14px; margin-right: 20px;"> lorem ipsum sit amet dolar cons</span>
                <i class="bi bi-telephone" style="font-size: 18px"></i><span style="font-size: 14px; margin-right: 20px;">  +90 222 2 222</span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-3 contact-info text-right">
                <i class="bi bi-twitter ml-3" style="font-size: 18px"></i>
                <i class="bi bi-linkedin ml-3" style="font-size: 18px"></i>
                <i class="bi bi-facebook ml-3" style="font-size: 18px"></i>

            </div>
    </div>
    <div class="contact-border"></div>

</div>

